.demo-techTitle{
  .deco-wrap{
    .deco-group{
      .group-content{ grid-template-columns: repeat(2, 1fr);
        .techTitle-item{min-height:80px; .por; padding:100px 0 0 0;
          .techTitle-wrap{.poa;}
          .config-detail{ .bd(var(--tech-bd)); .bgc(var(--tech-bg)); .bdr(10px); .fc(var(--font-strong)); padding:20px;opacity: .5; }// white-space: pre;
        }
      }
    }
  }
}