.demo-techButton{
  .techButton-title{grid-template-columns: repeat(6, 1fr); display:grid; margin:40px 0 0 0;
    .item{text-align: center; font-size: 24px;
      .chs{}
      .eng{}
    }
  }
  .deco-wrap{
    .deco-group{
      .group-content{ grid-template-columns: repeat(6, 1fr);
        .techButton-item{ padding:70px 0 0 0; .por;
          .button-wrap{.poa; top:0; left:50%; .fixc("x"); padding:10px 0;}
          .config-detail{ margin:20px 0 0 0; .bd(var(--tech-bd)); .bgc(var(--tech-bg)); .bdr(10px); .fc(var(--font-strong)); padding:20px;opacity: .5; white-space: pre; }//
        }
      }
    }
  }
}