.demo-panelTitle{
  .deco-wrap{
    .deco-group{
      .group-content{ grid-template-columns: repeat(3, 1fr); 
        .panelTitle-item{ .por;  height:300px;
          .panelTitle-wrap{.poa;}
          .config-params{ .absoluteCenter; .fc(var(--font-strong)); white-space: pre; padding:20px;opacity: .5; }
        }
      }
    }
  }
}